


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E50914;
    --black: #000000;
    --grey: #757575;
}

body {
    width: 100%;    
    font-family: 'Arial', sans-serif;
    color: white;
}

/* HEADINGS DECLARAATION */
h1 {
    font-size: 64px;
    font-weight: 700;
}

h3 {
    font-size: 26px;
    font-weight: 400;

}

h4 {
    font-size: 10px;
    color: var(--grey);
    font-weight: 200;
}

p {
    font-size: 15px;
    font-weight: 500;
}

/* HEADINGS DECLARAATION END */


/* BUTTON DECLARATION */
.pri-btn {
    /* font-size: 16px; */
    font-weight: 400;
    background-color: var(--red);
    /* width: 84px;
    height: 34px; */
    padding: 4px 7px;
    color: white;
    border: 0;
    border-radius: 3px;
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
}

.sec-btn {
    background-color: var(--red);
    color: white;
    font-size: 100%;
    font-weight: 400;
    border-radius: 0 3px 3px 0;
    border: 0;
    outline: none;
    padding: 2% 5%;
    cursor: pointer;
}

.box {
    padding: 2% 2%;
    border-radius: 3px 0 0 3px;
    border: 0;
    outline: none;
    width: 60%;
    margin-right: -10px;
    font-size: 100%;
}

.select {
    background-color: var(--black);
    color: white;
    outline: none;
    /* border: 0; */
    border-radius: 3px;
}


/* BUTTON DECLARATION ENDS */


section {
    padding: 10px 15%;
    background-color: var(--black);    
    border-bottom: 3px solid var(--grey);
}



/* HEADER STYLE */
header {
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    align-items: center;
    /* background-image: linear-gradient(rgba(27, 25, 25, 0.863), rgb(255, 255, 255)); */
}

header img {
    width: 10%;
}

header div {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

div form {
    margin-right: 1%;
}

div button {
    margin-left: 1%;
}



/* HERO STYLE */

.hero {
    margin-top: -19%;
    /* height: 500px; */
    background-image: url(images/Hero\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 20%;
}

.hero-1 {
    display: grid;
    place-content: center;
    align-content: center;
    margin-top: 20%;
    text-align: center;
}

.hero-1 form {
    margin-top: 15px;
}

.hero-1 form p, .faq form p {
    margin-bottom: 7px;
}

/* HERO STYLE END */


/* MAIN-1 STYLE */
.main, .main-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right, .left {
    width: 40%;
    margin: 10px 0 10px 0;
}

.main .right, .main-2 .left {
    text-align: center;
}

.right img, .main-2 .left img {
    width: 100%;
}

.main-2 .right p, .main .left p {
    margin-top: 10px;
}

/* faq */
.faq {
    text-align: center;
}

/* MAIN-1 STYLE ENDS */

/* FOOTER STYLE */

.footer {
    text-align: left;
    border: 0;
    padding: 7% 15%;
}

.footer-2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer-2 div {
    width: 20%;
}

.footer-2 div ul li, .footer li {
    list-style: none;
    cursor: pointer;
    margin: 10px 0;
}

.select-footer {
    padding: 7px;
    border-radius: 0;
    margin: 15px 0;
}


@media screen and (max-width: 600px) {
    .footer-2 {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    h4 {
        font-size: 15px;
    }
    
    .footer-2 div {
        width: 40%;
    }

    .main, .main-2 {
        flex-wrap: wrap;
    }

    .right, .left {
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 18px;
    
    }
    
    p {
        font-size: 10px;
    }
    
}

@media screen and (max-width: 540px) {
    .box {
        width: 55%;
    }

    header img {
        width: 15%;
    }

}

@media screen and (max-width: 460px) {
    .box {
        width: 50%;
    }

}

@media screen and (max-width: 403px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20;
    }

    .box {
        width: 50%;
        font-size: 70%;
    }

    .sec-btn {
        font-size: 70%;
    }
}